{%extends "page.html"%}
    {%block content%}
<section class="ptb150">
    <div class="container">
        <div class="row"><br><br>
            <div class="title-bl text-center wow fadeIn" data-wow-duration="2s">
                <div class="title color-white">
                    {%trans%}Login{%endtrans%}
                </div><br>
                <div class="subtitle">
                    {%trans%}Login{%endtrans%}
                </div>
            </div>
            <div class="mt30 text-center">
                <a href="/register">{%trans%}Register?{%endtrans%}</a>
                {% if error==1 %}<br><br>
                <br />{%trans%}Username and password does not match{%endtrans%}.
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="faq-container mt90">
              <form method="POST" action="login" class="uk-form uk-text-center">
              <div class="form-group" align="center"><br><br>
              <label>{%trans%}Username{%endtrans%}</label><br><br>
              <input type="text" class="form-control input-lg" name="username">
              </div><br><br>
              <div class="form-group" align="center">
              <label>{%trans%}Password{%endtrans%}</label><br><br>
              <input type="password" class="form-control input-lg" name="password">
              <input type="hidden" name="profile" value="{{profile}}"><br><br>
              <button type="submit" class="btn gradient color-white plr60 ptb19">{%trans%}Login{%endtrans%}</button>
              </form>
            </div>
        </div>
    </div>
</section>
{%endblock%}
