{%extends "page.html"%}
{%block content%}
<section class="ptb150">
    <div class="container">
        <div class="row"><br><br>
            <div class="title-bl text-center wow fadeIn" data-wow-duration="2s">
                <div class="title color-white">
                    {%trans%}Create an account{%endtrans%}
                </div><br>
                <div class="subtitle">
                    {%trans%}Create an account{%endtrans%}
                </div>
            </div>
            <div class="mt30 text-center">
                <a href="/login">{%trans%}Login?{%endtrans%}</a>
                {% if error==1 %}<br><br>
                <br />{%trans%}The following error occured{%endtrans%}: {{error_msg}}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="faq-container mt90">
              <form method="POST" action="register" class="form">
              <div class="form-group" align="center">
              <label>{%trans%}Username{%endtrans%}</label><br>
              <input type="input" class="form-control input-lg" name="user" value="{{user}}">
              </div>
              <div class="form-group" align="center">
              <label>{%trans%}E-Mail{%endtrans%}</label><br>
              <input type="input" class="form-control input-lg" name="email" value="{{email}}">
              </div>
              <div class="form-group" align="center">
              <label>{%trans%}Password{%endtrans%}</label><br>
              <input type="password" class="form-control input-lg" name="password">
              </div>
              <div class="form-group" align="center">
              <label>{%trans%}Repeat password{%endtrans%}</label><br>
              <input type="password" class="form-control input-lg" name="password2">
              </div>
              <div class="form-group" align="center">
              <button type="submit" class="btn gradient color-white plr60 ptb19">{%trans%}Register{%endtrans%}</button>
              <input type="hidden" name="already_sent" value="1">
              </form>
            </div>
        </div>
    </div>
</section>
{%endblock%}
